<!DOCTYPE html>
<html>
	<head>
	<title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
	  	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	    </script>
	  <![endif]-->
	</head>
	<body>
		<header class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<%= link_to "Mining LinkedIn", "#", id: "logo" %> 
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Home", root_path, id: "home" %></li>
						<li><%= link_to "About", about_path, id: "about" %></li>
						<li><%= link_to "Crew", crew_path, id: "crew" %></li>
						<li><%= link_to "Help", help_path, id: "help" %></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
